body{
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
  background-color: #aeaeae;
}


.text-help{
  color: #FF5722;
}

.has-danger input{
  border-color: red;
}

.btn-danger{
  margin-left: 15px;
}
